/*.root {
	-fx-background-color: #222222;
}*/

/*.button {
	-fx-font-weight: 400;
	-fx-background-color: #2196f3;
	-fx-background-radius: 25;
	-fx-font-size: 18;
	-fx-text-fill: white;

}*/

/*.button:hover {
	-fx-font-weight: bolder;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
	-fx-background-color: #ffffff;
	-fx-border-color: #2196f3;
	-fx-border-width: 5px;
	-fx-border-radius: 25;
	-fx-text-fill: #2196f3;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 15);
}*/

/*.button:pressed {
	-fx-background-color: #999999;
	-fx-effect: null;
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}*/